**/*.o
**/*.rom
**/*~
**/*.bak
**/.deps
*.cache
*.log
*.status
compile
configure
depcomp
localtest
z80asm
INSTALL
aclocal.m4
libtool
mkinstalldirs
stamp-h1
missing
install-sh
**/Makefile
**/Makefile.in
include/config.h
include/config.h.in
include/stamp-h1
config.*